body {
    background-color: lightcyan;
    color: rgb(197, 0, 115);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

header {
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: rgb(192, 255, 255);
}

#mainTitle {
    flex: 1;
    font-family: "Norse";
    text-decoration: rgb(235, 226, 105) dotted underline;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: -10px;
    margin-bottom: 25px;
    font-size: 5vw;
    bottom: 2vw;
    }

/*Menu options*/
.pages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 1rem;
    margin: 0;
    margin-top: -15px;
}

li {
    flex:1;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    flex: initial;
    text-align: left;   
    list-style-type: none;
    text-decoration: solid;
}

a, a:link, a:visited {
    text-decoration: none;
    color: rgb(197, 0, 115);
}

/*Main page*/

#mainImage {
    /*border: solid 1px red;*/
    display: flex;
    margin-left: 5px;
    padding: 1%;
    height: 25%;
    width: 27%;
    border-radius: 25%;
    }
     